.env
node_modules
.DS_Store
data/weather.sqlite
data/weather.sqlite.gz
data/tempC.json
data/averageWindSpeedKm.json
data/AU.txt
data/AU.zip
data/readme.txt
data/rainfall24hr.json
data/precipitationSince9amMM.json
data/maximumGustKmh.json
data/relativeHumidityPct.json
data/assets/
plans
